[submodule "react-frontend-app/web-app"]
	path = react-frontend-app/web-app
	url = https://github.com/Pranshu-Tripathi/Docker-React-App.git
[submodule "complex-app/fib-app"]
	path = complex-app/fib-app
	url = https://github.com/Pranshu-Tripathi/Multicontainer-Fibonacci-Web-App.git
[submodule "complex-app/fib-app-k8s"]
	path = complex-app/fib-app-k8s
	url = https://github.com/Pranshu-Tripathi/Fibonacci-Web-App-Kubernetes.git
